DATABASE_URL=postgresql://postgres:obisian111@localhost:5432/verticalott

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=supersecret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d

MUX_TOKEN_ID=your_mux_token_id
MUX_TOKEN_SECRET=your_mux_token_secret

LOG_LEVEL=info
